/*class jumbotron, onde ficara a agenda de tarefas*/
.jumbotron {
	width: 600px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

/*class table com 20px abaixo do top*/
.table {
	margin-top: 20px;
}

/*adicionando uma coloracao ao background */
body {
	background-color: #708090;
}

/*quando uma tarefa for selecionada, o background mudara de cor*/
.selecionado {
	background-color: #696969;
}

/*adicionando uma distancia de 5px entre as caixas de input*/
.form-control {
	margin-bottom: 5px;
}

/*quando uma tarefa for selecionada, sua fonte ficara em negrito*/
.negrito {
	font-weight: bold;
}

/*background da barra de tarefas*/
.progress {
	background-color: #D3D3D3;
}

/*background da barra de tarefas quando houver porcentagem maior que zero*/
.progress-bar {
	background-color: #006400;
}

.menu {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.active {
    background-color: #4CAF50;
}

/*distancia entre a tag h3 e o margin de baixo*/
h3 {
	margin-bottom: 20px;
}

/*alinhar texto que mostra o total de tarefas concluido e acompletar
a esquerda e com margin de 20px do top*/
h4 {
	text-align: left;
	margin-bottom: 20px;
	margin-top: 20px;
}


/*aqui eh definido o tamanho da margin e do padding do menu e a cor do background*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

/*alinha o menu a esquerda*/
li {
    float: left;
}

/*aqui eh estilizado toda a parte de menu*/
li a {
    display: block;
    color: white;
	text-align: center;
    padding: 16px 16px;
    text-decoration: none;
	
}

/*muda a cor do hover quando um item do menu eh clicado*/
li a:hover:not(.active) {
    background-color: #111;
}
